<div  class="container-fluid">
  <!-- loading spinner -->
  <div id="spin" class="mx-auto text-center">
    <app-spinner *ngIf="isLoading"></app-spinner>
  </div>

  <div id="mainLogin"  class="row">

    <div *ngIf="!isLoading" id="formDiv" class="col-lg-5 col-xs-12 ">
      <form #formData="ngForm" (ngSubmit)="onSubmit(formData)" class="text-white" *ngIf="!isLoading">
        <!-- text -->
        <div class="form-container ">

          <div class="" *ngIf="isLogin">
            <h1 class="">Hello Welcome! </h1>
            <h4>Please login to see the recipes </h4>
            <h3 class="lead signup-text">Don't have a account? hit signup ! </h3>
            <!-- text -->
          </div>

          <div *ngIf="!isLogin">
            <h1 class="">Welcome </h1>
            <h4 class="mt-1">Please enter email and password to sign up </h4>
            <h3 class="lead">We keep your details safe ! </h3>
          </div>

        
            <div class="form-group">
              <label class="lead" for="email">
                <fa-icon [icon]="userIcon"></fa-icon> Email:
              </label>
              <input #name="ngModel" name="email" ngModel type="email" class="form-control" required email>
              <div *ngIf="!name.valid && name.touched" class="row mx-auto">
                <div class="alert alert-danger" role="alert">
                  Please enter valid Email
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="lead" for="password">
                <fa-icon [icon]="lock"></fa-icon> Password:
              </label>
              <input #password="ngModel" name="password" ngModel type="password" class="form-control" required>
              <div *ngIf="!password.valid && password.touched" class="row mx-auto">
                <div class="alert alert-danger" role="alert">
                  Please enter password
                </div>
              </div>
            </div>

      

            <div class="row mx-auto">
              <div class="col-12 text-center">
                <span *ngIf="error" class="alert alert-danger text-center">
                  {{ error }}
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="lead" [disabled]="!formData.valid" type="submit"
                  class="btn btn-success mr-2">{{ isLogin ? 'Login': 'Signup' }}</button>
                <button type="button" (click)=" switchMode()" class="btn btn-primary">
                  {{ isLogin ? 'Signup': 'Login' }} Mode</button>
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>

</div>
